body {
  background-image: linear-gradient(#585353 20%, rgba(6, 2, 16, 0.95) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  height: 130vh;
}

/* Navbar personnalisée pour la page service */

#service {
  position: relative;
}


h1 {
  color: white;
  text-align: center;
  font-family: Raleway;
  position: absolute;
  right: 40.5%;
  top: 2%;
  z-index: 5;
}

.straight {
  position: absolute;
  right: 9.8%;
  top: 12.6%;
  width: 80%;
  border: 0.5px solid white;
}

.text-list {
  line-height: 25px;
  color: white;
  text-align: center;
  font-family: Raleway;
  text-align: left;
  font-size: 18px;
  margin: 20px 0px;
}

.text {
background-color: grey;
border-radius: 30px;
padding: 20px;
box-shadow: 1px 1px #cea582;
} #text-1 {
  width: 70%;
} #text-2 {
  width: 35%;
  height: 80%;
  transition: 1s ease;
  opacity: 0;
}

.icon {
  height: 150px;
  width: 150px;
  margin: 25px;
}

.intracontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
}

.container1{
  display: flex;
  justify-content: space-between;
  margin: 10px 10%;
}

.container2 {
  display: flex;
  margin: 0px 10%;
  margin-top: 35px;
  justify-content: space-between;
}

.c {
  display: flex;
  justify-content: space-around;
}

.logotarget {
  height: 250px;
  width: 250px;
  margin: 25px;
  margin-right: 75px;
  transition: 1s ease transform;
  background-image: url('../bétonlogo.png');
}

.logotarget:hover {
  background-image: url('../bétonlogohover.png');
}

#content {
  box-shadow: 1px 1px #cea582;
  background-color: grey;
  padding: 15px;
  border-radius: 33px;
  transition: .9s ease opacity,.9s ease transform;
  opacity: 0;
  transform: scale(0);
}

#ruby {
  margin-top: 0px;
  height: 142px;
  width: 142px;
}

#rubycase {
  margin: 0px;
  justify-content: center;
}

#ruby-title {
  margin: 0px;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 25px;
}
