.menu {
  font-size: 25px;
  color: white;
}

.menu img {
  width: 50px;
  height:50px;
}

.toggle {
  opacity: 0;
  transition: .5s;
}

.toggle.showm {
  opacity: 1 !important;
  transition: .5s;
}

ul {
  list-style: none;
  padding-left: 0px;
}

html {
  margin: 20px;
  background-color: red;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
