
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
}

/* ICI SE TROUVE LE MENU DROPDOWN  -- 1 -- */

#menu {
  font-size: 18px;
}
.menu {
  font-size: 25px;
  color: white;
}

.menu img {
  width: 50px;
  height:50px;
}

.toggle {
  opacity: 0;
  transition: .5s;
}

.toggle.showm {
  opacity: 1 !important;
  transition: .5s;
}


/* ---------------landing page---------------------------------- */

.landing-p {
  background-image: url('https://res.cloudinary.com/ebc-industries/image/upload/v1539704139/concrete.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 110vh;
}

.logo-landing-p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15vw;
}

.titre-div {
  position: relative;
}

.titre-landing-p h1 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 11.5vw;
  letter-spacing: 3px;
  color: white;
  text-align: center;
  margin: 0px;
}

.inner-title h1 {
  position: absolute;
  top: 4px;
  left: 11vw;
  mix-blend-mode: hue;
}

@media screen and (max-width: 1100px) {
  .inner-title h1 {
    left: 10vw;
  }
}

@media screen and (max-width: 750px) {
  .inner-title h1 {
    left: 9vw;
  }
}

@media screen and (max-width: 450px) {
  .inner-title h1 {
    left: 7vw;
    top: 2px;
  }
}


.arrow-landing-p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ------------intro --------------------- */

.intro-landing-p {
  background-color: rgb(243, 241, 240)
}

.intro1 {
  font-family: 'Bai Jamjuree', sans-serif;
  text-align: center;
  font-size: 39px;
  padding-top: 120px;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
  text-shadow: 1px 1px #FFAA5A;
}

.intro2 {
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  padding-top: 120px;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 140px;
  margin: auto;
}


/* -----------phones------------------ */

.phones-landing-p {
  background-image: linear-gradient(to bottom, #6a727a, #7c8790, #8f9ca6, #a2b2be, #b6c8d5);
  padding-top: 200px;

}

.phone1-div {
  position: relative;
}

.phone1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.inner-image-phone1 {
  position: absolute;
  width: 72vw;
  top: 70px;
  right: 50%;
  margin-right: -36vw;
}

.brand-phone1 h4 {
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: white;
  padding-top: 70px;
  text-align: center;
}

.brand-phone1 p {
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  font-weight: lighter;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 200px;
}







ul {
  list-style: none;
  padding-left: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}


#iconright {
  text-align: right;
}

#iconleft {
  text-align: left;
}

.sharemenu {
  background-color: rgba(156, 31, 31, 0.35);
  font-size: 50px;
  padding: 10px;
}

