html {
  background-image: url('https://res.cloudinary.com/ebc-industries/image/upload/v1540377906/Ygraphicxxl.png');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
  html {
    background-image: url('https://res.cloudinary.com/ebc-industries/image/upload/v1540376680/Ygraphicxldesk.png');
  }
}

@media screen and (max-width: 700px) {
  html {
            background-image: url('https://res.cloudinary.com/ebc-industries/image/upload/v1540375695/Ygraphicxl.png');
  }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    html {
          background-image: url('https://res.cloudinary.com/ebc-industries/image/upload/v1540375695/Ygraphicxl.png');
    }

}

.text-contact {
  position: absolute;
  bottom: 100px;
  left: 40%;
  font-size: 15px;
  font-family: 'Bai Jamjuree', sans-serif;
}

@media screen and (max-width: 1000px) {
  .text-contact {
    left: 38%;
    font-size: 13px;
  }
}

@media screen and (max-width: 800px) {
  .text-contact {
    left: 35%;
    font-size: 13px;
  }
}

@media screen and (max-width: 680px) {
  .text-contact {
    left: 5%;
    font-size: 8px;
  }
}




@media only screen
  and (min-device-width: 300px)
  and (max-device-width: 670px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .text-contact {
    left: 5%;
    font-size: 20px;
  }
}
