<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="../lab.css">
  <link rel="stylesheet" type="text/css" href="../Css/apropos.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Exo+2:200,400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:600, 200, 400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One" rel="stylesheet">

</head>
<body>

  <div class="navbar" id="service">
    <img id="dropTarget" src="https://res.cloudinary.com/ebc-industries/image/upload/v1539962317/menuicone.png">
   <!--  <div class="img-wraper"> -->
    <div class="hiddenPosition" id="dropApparition">
      <ul class="styleDropList">
        <a href="../index.html" class="menu--link--style"><li class="stylelist">Accueil</li></a>
        <a href="projets.html" class="menu--link--style"><li class="stylelist">Projets</li></a>
        <a href="equipe.html" class="menu--link--style"><li class="stylelist">L'équipe</li></a>
        <a href="" class="menu--link--style"><li class="stylelist">Contact</li></a>
      </ul>
    </div>
  </div>

  <div class="straight"></div>

  <h1>Nos services</h1>

  <div class="container1">
    <div class="intracontainer">
      <div class="text" id='text-1'>
        <ul>
          <li class="text-list">Nous intervenons à toutes les étapes de la réalisation de votre site et ce dès la conception du prototype.</li>
          <li class="text-list"> Le prototype du site nous permet de suivre un plan déterminé pour obtenir un résultat conforme à vos exigences.</li>
          <li class="text-list"> Chez la bétonnière nous consacrons 100% de notre énergie sur votre projet et vous promettons disponibilité et réactivité.</li>
        </ul>
      </div>
    </div>
    <div class="logoB" id="target">
        <div style="transform: rotate(0deg);" class="logotarget" id="litourné">
        </div>
    </div>
  </div>

  <div class="container2">

    <div class="text" id='text-2'>
      <ul><li class="text-list"> Les outils que nous utilisons sont à la pointe des dernières technologies en matière de développement web.</li></ul>
    </div>

    <div id="content" style="display: none;">
      <div class="c">
        <img  class="icon" src="../Icons/Css-logo.png">
        <img  class="icon" src="../Icons/HTML_Logo.png">
        <img  class="icon" src="../Icons/javascript_633988.png">
      </div>

      <div class="c">
        <img  class="icon" src="../Icons/Icon-rails.png">
        <img  class="icon" src="../Icons/Sql-icon.png">
        <div id="rubycase"><p id="ruby-title">RUBY</p><img  class="icon" id="ruby" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/1200px-Ruby_logo.svg.png"></div>
      </div>
    </div>
  </div>





  <script src="../lab.js"></script>
  <script src="../javascripts/apropos.js"></script>
</body>
</html>
