<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" type="text/css" href="../Css/apropos.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Exo+2:200,400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">

</head>
<body>

  <h1>Nos services</h1>

  <div class="container1">
    <div class="text">
      <p> Nous concevons des sites internets pour des entreprises ou des particuliers avec pour but de les aider à réaliser leurs objectifs.</p>
      <p>Nous intervenons à toutes les étapes de la réalisation de votre site et ce dès la conception du prototype.</p>
      <p> L'utilisation de logiciels et d'outils performants nous permet de vous impliquer dans la phase de prototypage de votre site et de suivre un plan déterminé pour obtenir un résultat conforme à vos exigences.</p>
      <p> Les outils que nous utilisons sont à la pointe des dernières technologie en matière de développement web.</p>
    </div>
    <div class="logoB" id="target">
        <img style="transform: rotate(0deg);" class="logotarget" src="../bétonlogo.png">
    </div>
  </div>

  <div class="container2">


    <div id="content" style="display: none;">
      <div class="c">
        <img  class="icon" src="../Icons/Css-logo.png">
        <img  class="icon" src="../Icons/HTML_Logo.png">
        <img  class="icon" src="../Icons/javascript_633988.png">
      </div>

      <div class="c">
        <img  class="icon" src="../Icons/Icon-rails.png">
        <img  class="icon" src="../Icons/Sql-icon.png">
        <img  class="icon" src="../Icons/Ruby3.png">
      </div>
    </div>
  </div>






  <script src="../javascripts/apropos.js"></script>
</body>
</html>
