<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Contact</title>
</head>
<link rel="stylesheet" type="text/css" href="../view_css/contact.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:300,400,500" rel="stylesheet">
<body>

<div class="text-contact">
  <h2>
    email : contact@lab.com <br><br>
    web : Labétonnière.com <br><br>
    Tel : +33 (0)6 39 67 54 90 <br>
  </h2>
</div>

</body>
</html>
